html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: $font;
}
#root {
  overflow: auto;
  z-index: 2;
  position: relative;
}
.app {
  height: 100%;
  .page {
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    .header {
      width: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0px;
      z-index: 1;
    }
    .fullSpace {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .markerWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
    }
    .marker {
      display: flex;
      flex-direction: column;
      padding: 33px;
      box-sizing: border-box;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      .marker__img {
        background-color: grey;
      }
      .marker__qrcode {
        margin-top: auto;
        margin-left: auto;
        width: 180px;
        height: 180px;
        background-color: grey;
      }
      @each $key, $ar in $templates {
        &_#{$key} {
          @each $name, $ar1 in $ar {
            @each $field, $value in $ar1 {
              @if $name == "wrapper" {
                #{$field}: $value;
              } @else {
                .#{$name} {
                  #{$field}: $value;
                }
              }
            }
          }
        }
      }
    }
    .request {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .request__title {
      color: white;
      font-size: 16px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 21px;
      width: 269px;
      margin-left: auto;
      margin-right: auto;
      line-height: 19px;
      z-index: 1;
    }
    .request__img {
      z-index: 1;
      margin-bottom: 17px;
      &.request__img_border {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .request__text {
      width: 225px;
      color: white;
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    &.page_camera {
      background-color: unset;
    }
  }
}
